:root {
    --branco: hsl(0, 0%, 100%);
    --cinza: hsl(212, 45%, 89%);
    --azul-claro: hsl(220, 15%, 55%);
    --azul-escuro: hsl(218, 44%, 22%);

    --fonte-principal: 'Outfit', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

.qrcode {
    border-radius: 15px;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    text-align: center;
    justify-content: center;
    background-color: var(--cinza);
}

.qrcode {
    margin-top: 4%;
    width: 300px;
}


.container__background {
    width: 338px;
    height: 466px;
    background-color: white;
    border-radius: 15px;
    margin-top: 10%;
}

.texto__primario {
    font-family: var(--fonte-principal);
    font-weight: 700;
    font-size: 20px;
    color: var(--azul-escuro);
    margin-top: 1em;
    padding-left: 6.5%;
    padding-right: 6.5%;
}

.texto__secundario {
    font-family: var(--fonte-principal);
    font-weight: 400;
    font-size: 15px;
    color: var(--azul-claro);
    margin-top: 1em;
    padding-left: 7.5%;
    padding-right: 7.5%;
}

@media (min-width: 1440px) {
    
    .container__background {
        width: 338px;
        height: 466px;
        background-color: white;
        border-radius: 15px;
        margin-top: 10%;
    }
}